p, div {
  width: 50%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  border: 5px solid black;
  margin-bottom: 10px; }

body {
  font-family: sans-serif;
  color: #fffffa;
  margin: 50px;
  background: url("/images/background-stage-blur.png");
  width: 100%; }

a, a:-webkit-any-link {
  color: #fed0c0; }

p {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 22px;
  letter-spacing: 2px; }

img {
  width: 100%; }

.italicize {
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  padding-left: 15px;
  padding-right: 10px; }

h1, h2, h3 {
  text-decoration: underline;
  font-weight: bolder; }
